@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Bobs comic book store is a cozy and inviting space with brightly-colored walls adorned with superhero posters and artwork. The store has shelves filled with a diverse range of comic books, graphic novels, and related merchandise, organized by publisher and genre. There is a section dedicated to indie comics and local creators, as well as a selection of back issues and rare collectibles.

        The store  also has knowledgeable and friendly staff who are passionate about comics and able to provide recommendations to customers. The store  hosts events such as signings, workshops, and gaming nights to engage with the local community of comic book enthusiasts.

        Overall, bobs comic book store offers a welcoming space for comic book fans to explore new titles, connect with like-minded individuals, and immerse themselves in the world of comics and graphic novels.
    </p>
</main>