
@{
    ViewBag.Title = "Favorites";
}

<h2>Favorites</h2>
<main>
    <div>
      
        <img src="~/Content/Spiderman.png"   style ="text-align:center;"/>

    </div>
    <p>He's the most amazing, spectacular, sensational hero in all the Marvel-Verse - your friendly neighbourhood Spider-Man! And he's swinging into action in these incredible adventures! First, enjoy a modern spin on Spidey's classic origin tale of power and responsibility, as a spider bite transforms the life of unpopular teen Peter Parker - for better and worse! Then, to save the life of his beloved Aunt May, Spidey must triumph against impossible odds and overcome an army of Doctor Octopus' goons in a character-defining classic from the legendary team of Stan Lee and Steve Ditko! And if that wasn t enough, the wallcrawler faces all his deadliest enemies </p>

    <img src="~/Content/Ironman.png" />
    <p>
        Relive the adventure that turned Tony Stark into the heroic Iron Man in this origin story novel.
        Before he was Iron Man, Tony Stark was a billionaire, an industrialist and an ingenious engineer. 
        While in Afghanistan demonstrating a new weapon, Stark is kidnapped behind enemy lines and manages to save his own life with the invention of an electromagnetically powered suit of armour. Back home, Stark must stop forces within his own company from using this technology for evil, before coming face-to-face with a foreign foe obsessed with bringing about Iron Man's downfall. Read the complete adventures that turned Tony Stark into the hero Iron Man.
    </p>
    <img src="~/Content/hulk.png" />
    <p>
        "Based on the stories by Marvel Comics."
        He's big, he's strong, he's green--he's the Incredible Hulk! Boys and girls ages 2 to 5 will love learning all about the Hulk's awesome superpowers and seeing him smash his most fearsome foes in this action-packed Little Golden Book!
    </p>

    <img src="~/Content/deadpool.png" />
    <p>
        Deadpool moves to Tokyo and makes a mess of everything!
        Everyone's favorite Merc with a Mouth is back! As a member of the newly formed Samurai Squad, Deadpool moves to Tokyo, where he soon runs afoul of some familiar faces. Whether he's teaming up with new heroes, battling gods, attending concerts, or being repeatedly dismembered, Deadpool always brings chaos and his characteristic sense of humor along with him!
    </p>

</main>
